<launch>
  <arg name="display" default="false" />
  
  <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="obstacle_detection_nodelet" args="load hd_depth/obstacle_detection_nodelet standalone_nodelet" output="screen">
    <remap from="/depth_in" to="/zed/depth/depth_registered"/>
  </node>  

  <group if="$(arg display)">
    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="1 0 0 0 0 0 1 world odom 100" /> 
    <node  pkg="rviz" type="rviz" output="screen" name="rviz_show_map" args="-d $(find hd_depth)/rviz/display_map.rviz"/>           
    <node pkg="image_view" type="image_view" name="view_depth" args="image:=/zed/depth/depth_registered" />
  </group>

</launch>
